/* a태그 모양 바꾸기 */
a.menu {    /* 추가 */
    text-decoration: none;
    color: white;
}

.container > li {
    /* border: 1px solid yellow; */
    list-style: none;
    font-size : 1.5em;
    padding: 8px 12px;
    margin : 8px 12px;
}
/* hover 선택자는 마우스가 올라갔을 때 */
.container > li:hover {
    background-color: coral;
    border-radius: 4px;

}    
.container {
    background-color: brown;
    display: flex;
    justify-content: center;
    padding: 12px 15px;
}
/* 반응형으로 레이아웃 만들기
   해상도 최대 768px 까지 동작하도록 설정 */
@media screen and (max-width:768px) {
    .container {
        flex-direction: column;
    }
    .container > li {
        text-align: center;
    }
}

/*  마진과 마진이 만났을 때 마진 상쇄의 
경우가 있습니다.  */
html,body {
    height: 100%;
}
.map_wrap {
    display: flex;
	flex-direction: column;
	height: 100%;	
}
.footer {
    border-top: 3px solid tomato;
    margin-top: 10%;    /* 추가 */
    padding-bottom: 5%;  /* 추가 */
}
.footer a,p {
    font-size: 12px;  /* 부모 태그인 footer 태그의 font-size를 지정해야 em 을 사용할 수 있습니다. */
    color:brown;
}
#login{
	margin-left: 10%; 
	padding-left: 10px;
	padding-right: 10px;
	font-size: 0.8em;
}
